* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
  width: 100%;
  font-family: 'Vollkorn', serif;
  letter-spacing: 1px; 
}


a {
  text-decoration: none;
}

#splash-bg, .header-about, .header-work, .header-contact {
  font-family: 'Julius Sans One', serif;
  letter-spacing: 5px;
}

.header-name span {
  font-family: 'Vollkorn', serif;
  display: block;
  font-size: .30em;
}


@media screen and (max-width: 999px) {

  .container {
    font-family: 'Julius Sans One', serif;
  }

  img {
    width: 100%;
    height: auto;
  }

  .splash-button {
    display: none;
  }

  .header-about, .header-work, .header-contact {
    display: none;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
  }

  #splash-bg {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #252424
  }

  .splash-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-name {
    font-size: 2.5em;
  }

  #work-container {
    width: 100%;
  }

  #work-container::before {
    content: 'Work';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 3em;
    background-color: #4C4A4A;
    color: white;
  }

  .work-container-inner {
    width: 100%;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px -10px 25px -10px rgba(0,0,0,0.3);
  }

  .work-card figcaption {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.5);
  }

  .work-card a {
    color: black;
  }

  .work-card > div {
    font-family: 'Vollkorn', serif;
    text-align: center;
    margin: 20px;
  }

  #about-container {
    width: 100%;
    font-size: 1.3em;
  }

  #about-container::before {
    content: 'About';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 3em;
    background-color: #4C4A4A;
    color: white;
    margin: 15px 0;
  }

  .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-container img {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.5);
  }

  .about-body {
    margin: 20px;
    text-align: center;
  }

  .about-body div {
    font-size: 1.4em;
    margin: 15px 0;
  }

  .about-body p {
    font-family: 'Vollkorn', serif;
    font-size: .8em;
  }

  #contact-container {
    width: 100%;
    color: white;
    background-color: #252424;    
  }

  #contact-container::before {
    content: 'Contact';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 3em;
    background-color: #4C4A4A;
    color: white;
    margin-bottom: 35px;
  } 

  .contact-icon {
    width: 50%;
    height: 100px;
    display: inline;
    float: left;
    margin-top: 20px; 
  }

  .contact-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: white;   
  }

  .contact-main {
    text-align: center;
    width: 100%;
    flex-direction: column;
    font-size: 1.1em;
    margin: 10px 0;
    font-family: 'Vollkorn', serif;
  }

  .contact-main a {
    color: white; 
  }

}


@media screen and (min-width: 1000px) {

  .splash-button {
    display: initial;
  }

  .container {
    position: relative;
    overflow: hidden;
    z-index: 10;
  }

  #splash-bg {
    z-index: 40;
  }

  #splash-bg * {
    user-select: none;
    cursor: default;
  }

  .splash-button {
    position: absolute;
    font-size: 25px;
    margin: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .splash-button {
    z-index: 50;
    transition: all 300ms ease-in;
  }

  .splash-button.button-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .splash-button.upper-left {
    top: 0;
    left: 0;
  }

  .splash-button.upper-left.button-hidden {
    transform: translate(500px, 250px);
  }

  .splash-button.upper-right {
    top: 0;
    right: 0;
  }

  .splash-button.upper-right.button-hidden {
    transform: translate(-500px, 250px);
  }

  .splash-button.lower-left {
    bottom: 0;
    left: 0;
  }

  .splash-button.lower-left.button-hidden {
    transform: translate(500px, -250px);
  }

  #button-reset {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background: white;
    border-radius: 50%;
    color: #3B3B3B;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    transition: all 450ms ease-in-out;
  }

  #button-reset:hover {
    transition: all 150ms ease-in-out;
    background-color: #F5F5F5;
    transform: scale(1.2);
    font-size: 45px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
  }

  #button-reset.button-hidden {
    transform: scale(0.5) rotateZ(25deg);
  }

  #splash-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #222222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    transition: all 550ms ease-in-out;
    transform: perspective(1000px);
  }

  #splash-bg.splash-top {
    background: #571111;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-45deg) translateY(-5%);    
  }

  #splash-bg.splash-left {
    background: #350958;
    transform-origin: left;
    transform: perspective(1000px) rotateY(35deg) translateX(-5%);
  }

  #splash-bg.splash-right {
    background: #0E5521;
    transform-origin: right;
    transform: perspective(1000px) rotateY(-35deg) translateX(5%);
  }

  .splash-header {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .splash-header > div {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 500px);
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-name span {
    letter-spacing: 2px;
    transition: all 250ms ease-in;
  }

  .header-about {
    transform-origin: right;
    transform: rotateY(-90deg);
  }

  .header-work {
    transform-origin: left;
    transform: rotateY(90deg);
  }

  .header-contact {
    transform-origin: bottom;
    transform: rotateX(90deg);
  }


  .splash-header .header-name {
    transition: all 350ms ease-in-out;
  }

  .splash-top .splash-header {
    transform: scale(1.5) perspective(1000px) rotateX(15deg);
  }

  .splash-left .splash-header {
    transform: scale(1.5) perspective(1000px) rotateY(-15deg)
  }

  .splash-right .splash-header {
    transform: scale(1.5) perspective(1000px) rotateY(15deg)
  }

  .splash-top .header-name {
    opacity: 0;
    transform: translateY(-100px) scale(0.9);
  }

  .splash-top .header-name span {
    transform-origin: top;
    transform: rotateX(90deg) scale(.8);
  }

  .splash-left .header-name span {
    transform-origin: top;
    transform: rotateX(90deg) scale(.8);
  }

  .splash-right .header-name span {
    transform-origin: top;
    transform: rotateX(90deg) scale(.8);
  }

  .splash-left .header-name {
    opacity: 0;
    transform: translateX(-100px) scale(0.9);
  }

  .splash-right .header-name {
    opacity: 0;
    transform: translateX(100px) scale(0.9);
  }

  .header-about, .header-work, .header-contact {
    font-size: 85px;
    opacity: 0;
    color: white;
    transition: transform 350ms linear 200ms, opacity 350ms linear;
  }

  .splash-left .header-about {
    opacity: 1;
    transform: perspective(1000px) rotateY(-15deg) scale(1.5);
  }

  .splash-right .header-work {
    opacity: 1;
    transform: perspective(1000px) rotateY(15deg) scale(1.5);
  }

  .splash-top .header-contact {
    opacity: 1;
    transform: perspective(1000px) rotateX(15deg) scale(1.5);
  }

  /*############################################*/

  #work-container {
    opacity: 0;
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #work-container.active {
    z-index: -5;
    opacity: 1;
  }

  .work-container-inner {
    z-index: 10;
    width: 80%;
    height: 90%;  
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleX(-1);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  }

  .work-card {
    z-index: 20;
    position: relative;
    margin: 15px;
    height: 400px;
    width: 500px;
    max-width: 80%;
    flex: 0 0 auto;
    transition: all 500ms linear 400ms;
    opacity: 0;
    overflow: hidden;
    transform: scaleX(-1);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

  }

  .work-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    transition: filter 400ms ease-in-out;
  }

  .work-card:hover img {
    filter: sepia(40%) brightness(80%);
  }

  .active .work-card {
    opacity: 1;
  }

  .work-card figcaption {
    font-family: 'Julius Sans One', sans-serif;
    z-index: 30;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: rgba(255,255,255,0.95);
    opacity: 0;
    transform: translateY(80%);
    transition: all 400ms ease-out 700ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .active .work-card figcaption {
    opacity: 1;
    transform: translateY(0);
    padding: 10px;
  }

  .work-card figcaption div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    text-align: center;
  }

  .work-card figcaption a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: black;
    transition: color 150ms ease-in-out;
  }

  .work-card figcaption a:hover {
    color: #6D6D6D;
  }

  .work-card > div {
    z-index: 25;
    position: absolute;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6em;
    text-align: center;
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 400ms ease-in-out, opacity 400ms linear;
  }

  .work-card:hover > div {
    opacity: 1;
    transform: scale(0.9);
  }

  /*###############################################*/

  #contact-container.active {
    z-index: -5;
    opacity: 1;
  }

  #contact-container {
    opacity: 0;
    z-index:-10;
    position: absolute;
    height: 35%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
  }

  #contact-container a {
    color: black;
    transition: color 150ms ease-in-out;
  }

  #contact-container a:hover {
    color: #6D6D6D;
  }

  .contact-main {
    order: 1;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-email {
    font-size: 2.5em;
    opacity: 0;
    transform: translateX(-250px);
    transition: all 500ms ease-in-out 400ms;
  }

  .active .contact-email {
    opacity: 1;
    transform: translateX(0);
  }

  .contact-phone {
    font-size: 2em;
    opacity: 0;
    transform: translateX(250px);
    transition: all 500ms ease-in-out 450ms;
  }

  .active .contact-phone {
    opacity: 1;
    transform: translateX(0);
  }

  .contact-icon {
    order: 0;
    height: 70%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 850ms ease-in-out 100ms;
    transform: translateY(500px) rotateZ(360deg);
  }

  .active .contact-icon {
    opacity: 1;
    transform: translateY(0) rotateZ(0);
  }

  .contact-icon  i {
    font-size: 10em;
  }

  /*#######################################*/

  #about-container {
    opacity: 0;
    z-index: -10;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about-container.active {
    z-index: -5;
    opacity: 1;
  }

  .about-inner-container {
    z-index: 10;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
  }

  .about-header img {
    border-radius: 50%;
    width: 100%;
    height: 25%;
    opacity: 0;
    transform: translateX(300px) rotateZ(120deg);
    transition: all 850ms cubic-bezier(0, 0.13, 0.76, 1.18);
    box-shadow: 0px 15px 25px -15px black;
  }

  #about-container.active .about-header img {
    opacity: 1;
    transform: translateX(0) rotateZ(0);
  }

  .about-body {
    width: 100%;
    height: 75%;
    margin-top: 15px;
  }

  .about-body div {
    font-size: 1.5em;
    margin: 15px;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
  }

  .about-body p {
    margin: 0 25px;
  }

  .about-body :nth-child(1) {
    opacity: 0.4;
    transform: translateX(-120px);
    transition: all 800ms cubic-bezier(0, 0.13, 0.76, 1.18) 150ms;    
  }

  .about-body :nth-child(2) {
    opacity: 0.4;
    transform: translateX(120px);
    transition: all 800ms cubic-bezier(0, 0.13, 0.76, 1.18) 250ms;    
  }

  .about-body :nth-child(3) {
    opacity: 0.4;
    transform: translateX(-120px);
    transition: all 800ms cubic-bezier(0, 0.13, 0.76, 1.18) 350ms;    
  }

  .about-body :nth-child(4) {
    opacity: 0.4;
    transform: translateX(120px);
    transition: all 800ms cubic-bezier(0, 0.13, 0.76, 1.18) 450ms;    
  }

  .about-body :nth-child(5) {
    opacity: 0.4;
    transform: translateX(120px);
    transition: all 800ms cubic-bezier(0, 0.13, 0.76, 1.18) 550ms;    
  }

  #about-container.active .about-body div {
    opacity: 1;
    transform: translateX(0);
  }

  #about-container.active .about-body p {
    opacity: 1;
    transform: translateX(0);
  }

}
